<style>.coupon-section{border:{{section.settings.border-coupon-width}}px {{section.settings.coupon-border}} {{section.settings.coupon-border-clr}};   width:100%;margin-left:auto;margin-right :auto;}.coupon-section input{text-align:center;margin:5px;padding:5px;}.coupon-section .h2{color:{{section.settings.coupon-hd-clr}};  }.tooltip-coupon{position: relative;display: inline-block;padding-bottom : 25px;}.tooltip-coupon .tooltipcoupon {visibility: hidden;width: auto;background-color: {{section.settings.coupon-bk-tooltip-clr}};color: {{section.settings.coupon-txt-tooltip-clr}};text-align: center;border-radius: 6px;padding: 5px;position: absolute;z-index: 1;bottom: 150%;left: 50%;margin-left: -75px;opacity: 0;transition: opacity 0.3s;}.tooltip-coupon .tooltipcoupon::after {content: "";position: absolute;top: 100%;left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: #555 transparent transparent transparent;}.tooltip-coupon:hover .tooltipcoupon {visibility: visible;opacity: 1;}.call{display:inline-block;text-decoration:none;border-radius:5px;padding:10px;background:{{section.settings.coupon-bk-clr}};max-width:30%;font:bold 24px Arial;box-shadow:0 0 15px gray,0 0 10px gray inset;text-align:center;color:{{section.settings.coupon-txt-clr}};  }.tooltip-coupon button{background :{{section.settings.coupon-bk-btn-clr}};color:{{section.settings.coupon-txt-btn-clr}};border : none;}.coupon-section {background: var(--color-body);}.coupon-section h2 {position: relative;top: -18px;background: var(--color-body);width: 70%;margin-left: auto;margin-right: auto;}</style>  
<div class="page-width coupon-section center">
   {% if section.settings.coupon-hd !=blank %}
   <h2 class="h2"> <i class="fa fa-cut"></i> {{section.settings.coupon-hd}} </h2>
   {% endif %}
   {% if section.settings.coupon-right !=blank %}  
   <input class="h4 call" value="{{section.settings.coupon-right}}" id="myInput" readonly>
   <div class="tooltip-coupon">
      <button onclick="myFunction()" onmouseout="outFunc()">
      <span class="tooltipcoupon" id="myTooltip">{{section.settings.coupon-tooltip}}</span>
      {{section.settings.coupon-txt}}
      </button>
   </div>
   {% endif %}
</div>
<script>function myFunction(){var e=document.getElementById("myInput");e.select(),e.setSelectionRange(0,99999),document.execCommand("copy"),document.getElementById("myTooltip").innerHTML="Copied: "+e.value}function outFunc(){document.getElementById("myTooltip").innerHTML="Copy to clipboard"}</script>  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% schema %}
{
  "name": {
          "cs": "Kód kupónu",
          "da": "Kuponkode",
          "de": "Ankündigungsbereich",
          "en": "Coupon Code",
          "es": "Barra de anuncios",
          "fi": "Kuponkikoodi",
          "fr": "Code promo",
          "it": "codice coupon",
          "ja": "クーポンコード",
          "ko": "쿠폰 코드",
          "nb": "Kupongkode",
          "nl": "coupon code",
          "pl": "Kod kuponu",
          "pt-BR": "Código do cupom",
          "pt-PT": "Código do cupom",
          "sv": "kupongskod",
          "th": "รหัสคูปอง",
          "tr": "Kupon Kodu",
          "vi": "mã giảm giá",
          "zh-CN": "优惠卷号码",
          "zh-TW": "優惠卷號碼"
  },
  "class": "index-section",
  "settings": [
      {
        "type": "color",
        "id": "coupon-hd-clr",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        },
        "default": "#000000"
      },
    {
      "type": "text",
      "id": "coupon-hd",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
	  },
    "default": "15 % discount Use the coupon"
    },
	  {
      "type": "header",
      "content": {
          "cs": "okraj",
          "da": "Grænse",
          "de": "Rahmen",
          "en": "Border",
          "es": "Borde",
          "fi": "Raja",
          "fr": "Bordure",
          "it": "Frontiera",
          "ja": "国境",
          "ko": "국경",
          "nb": "Grense",
          "nl": "Grens",
          "pl": "Granica",
          "pt-BR": "Fronteira",
          "pt-PT": "Fronteira",
          "sv": "Gräns",
          "th": "ชายแดน",
          "tr": "Sınır",
          "vi": "Ranh giới",
          "zh-CN": "边境",
          "zh-TW": "邊境"
      }
	},
      {
        "type": "color",
        "id": "coupon-border-clr",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        },
        "default": "#06D9CF"
      },
      {
        "type": "select",
        "id": "coupon-border",
        "label": {
          "cs": "okraj",
          "da": "Grænse",
          "de": "Rahmen",
          "en": "Border",
          "es": "Borde",
          "fi": "Raja",
          "fr": "Bordure",
          "it": "Frontiera",
          "ja": "国境",
          "ko": "국경",
          "nb": "Grense",
          "nl": "Grens",
          "pl": "Granica",
          "pt-BR": "Fronteira",
          "pt-PT": "Fronteira",
          "sv": "Gräns",
          "th": "ชายแดน",
          "tr": "Sınır",
          "vi": "Ranh giới",
          "zh-CN": "边境",
          "zh-TW": "邊境"
        },
        "options": [
          {
            "value": "none",
            "label": {
              "cs": "Žádný",
              "da": "Nogen",
              "de": "geen",
              "en": "None",
              "es": "No",
              "fi": "Minkä tahansa",
              "fr": "Aucun",
              "it": "Qualsiasi",
              "ja": "どれでも",
              "ko": "어느",
              "nb": "Noen",
              "nl": "Elk",
              "pl": "Każdy",
              "pt-BR": "Algum",
              "pt-PT": "Algum",
              "sv": "Några",
              "th": "ใด ๆ",
              "tr": "Herhangi",
              "vi": "Không tí nào",
              "zh-CN": "任何",
              "zh-TW": "任何"
            }
          },
          {
            "value": "dotted",
            "label": {
              "cs": "Tečkovaný",
              "da": "Prikket",
              "de": "Gepunktet",
              "en": "Dotted",
              "es": "Punteado",
              "fi": "Pisteviiva",
              "fr": "Pointée",
              "it": "Punteggiata",
              "ja": "点在",
              "ko": "점이 찍힌",
              "nb": "Prikket",
              "nl": "gestippeld",
              "pl": "Kropkowany",
              "pt-BR": "Pontilhada",
              "pt-PT": "Pontilhada",
              "sv": "Prickad",
              "th": "จุด",
              "tr": "Noktalı",
              "vi": "Say mê",
              "zh-CN": "虚线",
              "zh-TW": "虛線"
            }
          },
          {
            "value": "solid",
            "label": {
              "cs": "Pevný",
              "da": "Solid",
              "de": "Solide",
              "en": "Solid",
              "es": "Sólida",
              "fi": "Kiinteä",
              "fr": "Solide",
              "it": "Solida",
              "ja": "個体",
              "ko": "단단한",
              "nb": "Fast",
              "nl": "Stevig",
              "pl": "Solidny",
              "pt-BR": "Sólida",
              "pt-PT": "Sólida",
              "sv": "Fast",
              "th": "แข็ง",
              "tr": "Katı",
              "vi": "Cứng",
              "zh-CN": "坚硬的",
              "zh-TW": "堅硬的"
            }
          },
          {
            "value": "double",
            "label": {
              "cs": "Dvojnásobek",
              "da": "Dobbelt",
              "de": "Doppelt",
              "en": "Double",
              "es": "Doble",
              "fi": "Kaksinkertainen",
              "fr": "Double",
              "it": "Doppio",
              "ja": "ダブル",
              "ko": "더블",
              "nb": "Dobbelt",
              "nl": "Dubbele",
              "pl": "Podwójnie",
              "pt-BR": "Dobro",
              "pt-PT": "Dobro",
              "sv": "Dubbel",
              "th": "สองเท่า",
              "tr": "Çift",
              "vi": "Kép",
              "zh-CN": "双倍的",
              "zh-TW": "雙倍的"
            }
          },
          {
            "value": "groove",
            "label": {
              "cs": "Drážka",
              "da": "Rille",
              "de": "Rille",
              "en": "Groove",
              "es": "Ranura",
              "fi": "Ura",
              "fr": "Rainure",
              "it": "Scanalatura",
              "ja": "溝",
              "ko": "홈",
              "nb": "Spor",
              "nl": "Groef",
              "pl": "Rowek",
              "pt-BR": "Sulco",
              "pt-PT": "Sulco",
              "sv": "Räffla",
              "th": "ร่อง",
              "tr": "oluk",
              "vi": "Rãnh",
              "zh-CN": "槽",
              "zh-TW": "槽"
            }
          },
          {
            "value": "ridge",
            "label": {
              "cs": "Hřbet",
              "da": "Ryg",
              "de": "Grat",
              "en": "Ridge",
              "es": "Cresta",
              "fi": "Ridge",
              "fr": "crête",
              "it": "Cresta",
              "ja": "海嶺",
              "ko": "산등성이",
              "nb": "Ridge",
              "nl": "Ridge",
              "pl": "Grzbiet",
              "pt-BR": "Cume",
              "pt-PT": "Cume",
              "sv": "bergsrygg",
              "th": "ริดจ์",
              "tr": "çıkıntı",
              "vi": "cây rơm",
              "zh-CN": "岭",
              "zh-TW": "嶺"
            }
          },
          {
            "value": "inset",
            "label": {
              "cs": "Vložit",
              "da": "Indsat",
              "de": "Einsatz",
              "en": "Inset",
              "es": "Recuadro",
              "fi": "Alku",
              "fr": "Encart",
              "it": "inserto",
              "ja": "挿入図",
              "ko": "삽입",
              "nb": "Innfelt",
              "nl": "inzet",
              "pl": "Wstawka",
              "pt-BR": "Inserir",
              "pt-PT": "Inserir",
              "sv": "Insats",
              "th": "สิ่งที่ใส่เข้าไป",
              "tr": "iç metin",
              "vi": "Inset",
              "zh-CN": "插图",
              "zh-TW": "插圖"
            }
          },
          {
            "value": "outset",
            "label": {
              "cs": "Na začátku",
              "da": "Begyndelsen",
              "de": "Anfang",
              "en": "Outset",
              "es": "Comienzo",
              "fi": "Alku",
              "fr": "Début",
              "it": "fin dall'inizio",
              "ja": "最初",
              "ko": "시초",
              "nb": "Utgangspunktet",
              "nl": "Begin",
              "pl": "Początek",
              "pt-BR": "Início",
              "pt-PT": "Início",
              "sv": "Början",
              "th": "เริ่มแรก",
              "tr": "Başlangıç",
              "vi": "Bù đắp",
              "zh-CN": "开始",
              "zh-TW": "開始"
            }
          },
          {
            "value": "dashed",
            "label": {
              "cs": "Přerušovaný",
              "da": "Stødt",
              "de": "Gestrichelt",
              "en": "Dashed",
              "es": "Rayado",
              "fi": "Katkoviiva",
              "fr": "Pointillée",
              "it": "Tratteggiata",
              "ja": "破線",
              "ko": "대시",
              "nb": "Strukket",
              "nl": "onderbroken",
              "pl": "przerywany",
              "pt-BR": "Tracejadas",
              "pt-PT": "Tracejadas",
              "sv": "Dashed",
              "th": "ประ",
              "tr": "kesikli",
              "vi": "Tiêu tan",
              "zh-CN": "虚线",
              "zh-TW": "虛線"
            }
          }
        ],
        "default": "dashed"
      },
      {
        "type": "range",
        "id": "border-coupon-width",
        "label": {
          "cs": "Výška okraje",
          "da": "Grænsehøjde",
          "de": "Randhöhe",
          "en": "Border height",
          "es": "Bordes altura",
          "fi": "Rajan korkeus",
          "fr": "Hauteur de bordure",
          "it": "Altezza del bordo",
          "ja": "境界線の高さ",
          "ko": "테두리 높이",
          "nb": "Grensehøyde",
          "nl": "Grens hoogte",
          "pl": "Wysokość granicy",
          "pt-BR": "Altura da borda",
          "pt-PT": "Altura da borda",
          "sv": "Gränshöjd",
          "th": "ความสูงของเส้นขอบ",
          "tr": "Kenar yüksekliği",
          "vi": "Chiều cao đường viền",
          "zh-CN": "边框高度",
          "zh-TW": "邊框高度"
        },
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "px",
        "default": 2
      },
	  {
      "type": "header",
      "content": {
          "cs": "Kód kupónu",
          "da": "Kuponkode",
          "de": "Ankündigungsbereich",
          "en": "Coupon Code",
          "es": "Barra de anuncios",
          "fi": "Kuponkikoodi",
          "fr": "Code promo",
          "it": "codice coupon",
          "ja": "クーポンコード",
          "ko": "쿠폰 코드",
          "nb": "Kupongkode",
          "nl": "coupon code",
          "pl": "Kod kuponu",
          "pt-BR": "Código do cupom",
          "pt-PT": "Código do cupom",
          "sv": "kupongskod",
          "th": "รหัสคูปอง",
          "tr": "Kupon Kodu",
          "vi": "mã giảm giá",
          "zh-CN": "优惠卷号码",
          "zh-TW": "優惠卷號碼"
      }
	},
      {
        "type": "color",
        "id": "coupon-bk-clr",
        "label": {
          "cs": "Pozadí",
          "da": "Baggrund",
          "de": "Hintergrund",
          "en": "Background",
          "es": "Fondo",
          "fi": "Tausta",
          "fr": "Couleur de fond",
          "it": "Sfondo",
          "ja": "背景",
          "ko": "배경",
          "nb": "Bakgrunn",
          "nl": "Achtergrond",
          "pl": "Tło",
          "pt-BR": "Plano de fundo",
          "pt-PT": "Fundo",
          "sv": "Bakgrund",
          "th": "พื้นหลัง",
          "tr": "Arka plan",
          "vi": "Nền",
          "zh-CN": "背景",
          "zh-TW": "背景"
        },
        "default": "#15c5ff"
      },
      {
        "type": "color",
        "id": "coupon-txt-clr",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": "#fff"
      },
    {
      "type": "text",
      "id": "coupon-right",
      "label": {
          "cs": "Kód kupónu",
          "da": "Kuponkode",
          "de": "Ankündigungsbereich",
          "en": "Coupon Code",
          "es": "Barra de anuncios",
          "fi": "Kuponkikoodi",
          "fr": "Code promo",
          "it": "codice coupon",
          "ja": "クーポンコード",
          "ko": "쿠폰 코드",
          "nb": "Kupongkode",
          "nl": "coupon code",
          "pl": "Kod kuponu",
          "pt-BR": "Código do cupom",
          "pt-PT": "Código do cupom",
          "sv": "kupongskod",
          "th": "รหัสคูปอง",
          "tr": "Kupon Kodu",
          "vi": "mã giảm giá",
          "zh-CN": "优惠卷号码",
          "zh-TW": "優惠卷號碼"
	  },
    "default": "15OFF"
    },
	  {
      "type": "header",
      "content": {
          "cs": "Popisek",
          "da": "Værktøjstip",
          "de": "Tooltip",
          "en": "Tooltip",
          "es": "Descripción emergente",
          "fi": "Työkaluvinkki",
          "fr": "Info-bulle",
          "it": "Descrizione comando",
          "ja": "ツールチップ",
          "ko": "툴팁",
          "nb": "Verktøytips",
          "nl": "Knopinfo",
          "pl": "Etykietka",
          "pt-BR": "Dica de ferramenta",
          "pt-PT": "Dica de ferramenta",
          "sv": "Verktygstips",
          "th": "เคล็ดลับเครื่องมือ",
          "tr": "Araç ipucu",
          "vi": "Chú giải công cụ",
          "zh-CN": "工具提示",
          "zh-TW": "工具提示"
      }
	},
      {
        "type": "color",
        "id": "coupon-bk-tooltip-clr",
        "label": {
          "cs": "Pozadí",
          "da": "Baggrund",
          "de": "Hintergrund",
          "en": "Background",
          "es": "Fondo",
          "fi": "Tausta",
          "fr": "Couleur de fond",
          "it": "Sfondo",
          "ja": "背景",
          "ko": "배경",
          "nb": "Bakgrunn",
          "nl": "Achtergrond",
          "pl": "Tło",
          "pt-BR": "Plano de fundo",
          "pt-PT": "Fundo",
          "sv": "Bakgrund",
          "th": "พื้นหลัง",
          "tr": "Arka plan",
          "vi": "Nền",
          "zh-CN": "背景",
          "zh-TW": "背景"
        },
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "coupon-txt-tooltip-clr",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "coupon-tooltip",
        "label": {
          "cs": "Popisek",
          "da": "Værktøjstip",
          "de": "Tooltip",
          "en": "Tooltip",
          "es": "Descripción emergente",
          "fi": "Työkaluvinkki",
          "fr": "Info-bulle",
          "it": "Descrizione comando",
          "ja": "ツールチップ",
          "ko": "툴팁",
          "nb": "Verktøytips",
          "nl": "Knopinfo",
          "pl": "Etykietka",
          "pt-BR": "Dica de ferramenta",
          "pt-PT": "Dica de ferramenta",
          "sv": "Verktygstips",
          "th": "เคล็ดลับเครื่องมือ",
          "tr": "Araç ipucu",
          "vi": "Chú giải công cụ",
          "zh-CN": "工具提示",
          "zh-TW": "工具提示"
        },
       "default": "Copy to clipboard" 
      },
	  {
      "type": "header",
      "content": {
          "cs": "Výzva k akci",
          "da": "Opfordring til handling",
          "de": "Aufruf zum Handeln",
          "en": "Call to action",
          "es": "Llamada a la acción",
          "fi": "Kehotus toimintaan",
          "fr": "Appel à l'action",
          "it": "Chiamare all'azione",
          "ja": "アクションの呼び出し",
          "ko": "행동을 요구하다",
          "nb": "Oppfordring til handling",
          "nl": "Oproep tot actie",
          "pl": "Wezwanie do działania",
          "pt-BR": "Call to action",
          "pt-PT": "Call to action",
          "sv": "Uppmaning till handling",
          "th": "คำกระตุ้นการตัดสินใจ",
          "tr": "Eylem çağrısı",
          "vi": "Kêu gọi hành động",
          "zh-CN": "呼吁采取行动",
          "zh-TW": "呼籲採取行動"
      }
	},
      {
        "type": "color",
        "id": "coupon-bk-btn-clr",
        "label": {
          "cs": "Pozadí",
          "da": "Baggrund",
          "de": "Hintergrund",
          "en": "Background",
          "es": "Fondo",
          "fi": "Tausta",
          "fr": "Couleur de fond",
          "it": "Sfondo",
          "ja": "背景",
          "ko": "배경",
          "nb": "Bakgrunn",
          "nl": "Achtergrond",
          "pl": "Tło",
          "pt-BR": "Plano de fundo",
          "pt-PT": "Fundo",
          "sv": "Bakgrund",
          "th": "พื้นหลัง",
          "tr": "Arka plan",
          "vi": "Nền",
          "zh-CN": "背景",
          "zh-TW": "背景"
        },
        "default": "#F3F1F1"
      },
      {
        "type": "color",
        "id": "coupon-txt-btn-clr",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "coupon-txt",
        "label": {
          "cs": " kupónu",
          "da": "Kupon",
          "de": "Ankündigungsbereich",
          "en": "Coupon",
          "es": "Barra de anuncios",
          "fi": "Kuponkikoodi",
          "fr": "Code ",
          "it": "codice",
          "ja": "クーポンコード",
          "ko": "쿠폰 코드",
          "nb": "Kupongkode",
          "nl": "coupon",
          "pl": "kuponu",
          "pt-BR": "cupom",
          "pt-PT": "cupom",
          "sv": "kupongskod",
          "th": "รหัสคูปอง",
          "tr": "Kupon Kodu",
          "vi": "mã giảm giá",
          "zh-CN": "优惠卷号码",
          "zh-TW": "優惠卷號碼"
        },
       "default": "Copy coupon" 
      }
],
  "presets": [
    {
      "name": {
          "cs": "Kód kupónu",
          "da": "Kuponkode",
          "de": "Ankündigungsbereich",
          "en": "Coupon Code",
          "es": "Barra de anuncios",
          "fi": "Kuponkikoodi",
          "fr": "Code promo",
          "it": "codice coupon",
          "ja": "クーポンコード",
          "ko": "쿠폰 코드",
          "nb": "Kupongkode",
          "nl": "coupon code",
          "pl": "Kod kuponu",
          "pt-BR": "Código do cupom",
          "pt-PT": "Código do cupom",
          "sv": "kupongskod",
          "th": "รหัสคูปอง",
          "tr": "Kupon Kodu",
          "vi": "mã giảm giá",
          "zh-CN": "优惠卷号码",
          "zh-TW": "優惠卷號碼"
      },
      "category": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
}
    }
  ]
}
{% endschema %}